* {
  padding:0;
  margin:0;
}

div#main_content {
  text-align: center;
  width: 1040px;
  height: 538px;
  /*background-color: #ccc;*/
  margin-left: 250px;
}

#main_content h1#title {
  font-family: "微软雅黑";
  font-size: 32px;
  letter-spacing: 26px;
  color:#00d1e5;
  margin-top: 30px;
}

div.input {
  width: 1040px;
  height:450px;
  background-color: #d9dadb;
  margin-bottom: 10px;
  border-radius: 25px 25px 25px 25px ;
  margin-top: 25px;
}

p.deploy {
  font-family: "微软雅黑";
  font-weight: 560;
  font-size: 28px;
  letter-spacing: 0.8em;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  width: 30%;
}

div.zone_line {
  position:relative;
  top:3em;
}

div.first_line {
  position:relative;
  top:6em;
}

div.second_line {
  position:relative;
  top:9em;
}

div.third_line {
  position:relative;
  top:12em;
}

input.bu {
  color: #000;
  letter-spacing: 0.3em;
  font-weight: 550;
  font-size: 20px;
  font-family: "微软雅黑";
  background-color: #00d1e5;
  width:125px;
  height:40px;
  border:1.5px solid #2196f3;
  border-radius: 10px;
  margin-top: 20px;
}

#save_device {
  margin-right: 6em;
}

t{
  margin-left: 10%;
  font-size: 24px;
}

input.right {
  margin-left: 2em;
}
