* {
  padding: 0;
  margin: 0;
}

/*div#frame {
  position: absolute;
  top:0;
  left:0;
}*/

div.header {
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:15%;
  width: 100%;
}

.header ul.index_title li {
  list-style: none;
  display: inline-block;
}

p.logo {
  color:#00d1e5;
  display: inline-block;
  font-size: 45px;
  font-weight: 900;
  font-family: "微软雅黑";
  padding:0.2em 0 0 2em;
}

p.header_name {
  color:#333;
  display: inline;
  font-size: 26px;
  font-weight: 600;
  font-family: "微软雅黑";
  padding:0 0 0 4.5em;
}

a.link_home {
  display: inline;
  padding-left: 30em;
}

a.link_out {
  display: inline;
  padding-left: 3em;
}

img.icon {
  width:40px;
  height: 40px;
}

/*左边导航菜单部分*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-weight: "微软雅黑";
}

ul>li.menu {
  background-color: #333333;
  border-bottom: 1.5px solid #376467;
  width:120px;
  padding: 1.21em;
  color:#00d1e5;
  font-size: 22px;
  font-family: "微软雅黑"；
  font-weight:800;
  text-align: center;
  border-radius: 2px;
}

ul>li.menu:hover {
  color:#fff;
  background-color: #00d1e5;
}


ul li.menu ul.menu_son {
  display: none;
  position: absolute;
  top:80px;
  left: 174px;
}

ul li.menu ul.menu_son li {
  padding:12.4px;
  width: 150px;
  height:44.5px;
  border-radius: 5px;
  display:block;
}

img.dot {
  position: absolute;
  top:15em;
  left:10.6em;
}

ul li.menu:hover .menu_son{
  background-color: #00d1e5;
  font-size: 16px;
  font-family: "微软雅黑"；
  color：#fff;
  display: block;
}

i {
  background: url(../img/tran.png);
  width: 12px;
  height: 13px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 20px;
}

a.watch {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-weight: "微软雅黑";
}

a.rela {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: #fff;
  font-weight: "微软雅黑";
}

a.web {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  font-weight: "微软雅黑";
}
